{
  "moduleId": "MosaicFlow",

  "presets": [
    ["es2015", {
      "loose": true
    }]
  ],

  "plugins": [
    ["transform-es2015-modules-umd", {
      "loose": true,
      "globals": {
        "jquery": "jQuery"
      }
    }]
  ]
}
